<h1>Editing Tipo Formulario</h1>

<%= render 'form', tipo_formulario: @tipo_formulario, flag_tipo_formulario: 1 %>

<%= link_to 'Show', @tipo_formulario %> |
<%= link_to 'Back', tipo_formularios_path %>
