<h1>Editing Asignacion Formulario</h1>

<%= render 'form', asignacion_formulario: @asignacion_formulario %>

<%= link_to 'Show', @asignacion_formulario %> |
<%= link_to 'Back', asignacion_formularios_path %>
